.images{
	display: flex;
	align-items: flex-start;
	transition: transform 0.5s;
}
.images>img{

}
.window{
	border: 2px solid blue;
	max-width: 500px;
	height: 282px;
	overflow: hidden;
	margin: 0 auto; /*水平居中*/
}
.trigger{
	margin-top: 8px;
	text-align: center;	
}
.spancolor{
	color: #EE85B5
}
span:hover{
	 color: blue;
	 cursor:pointer;
}