body{
	background: #efefef;
	color: black;
	margin: 0px;
}
a{
	color: inherit;
	text-decoration: none;
}
*{
	margin: 0px;
	padding: 0px;
}
hr{
	height: 0;
	border: none;
	border-top: 1px solid #dedede; 
}
.margins{
	padding: 0 16px;
}
.top-nav-bar{
	padding-top: 14px;
	padding-bottom: 14px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.top-nav-bar nav{
	padding-top: 8px;
}

.clearfix::after{
	content: '';
	display: block;
	clear: both;
}
.top-nav-bar nav>ul{
	list-style: none;
	margin: 0;
	padding: 0; 
}
.top-nav-bar nav>ul>li{
	float: left;
	margin-left: 17px;
	margin-right: 17px;
}
.top-nav-bar nav>ul>li>a{
	font-size: 12px;
	color: #B7B7B7;
	font-weight: bold;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	padding-top: 3px;
	padding-bottom: 3px;
	display: block;
}
.top-nav-bar>a{
	float: left;
}
.top-nav-bar nav{
	float: right;
}
.top-nav-bar nav>ul>li>a:hover{
	border-bottom: 3px solid #e06567;
}
.top-nav-bar .logo{
	font-size: 24px;
	font-family: HGSMinchoE;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
}

.top-nav-bar .logo .rs{
	margin-right: 4px;
	color: #E6686A;
}
.top-nav-bar .logo .card{
	color: #9a9da2;
}

.banner{
	background-image: url(./img/rs-cover.jpg);
	height: 540px;
	background-position: center center;
	background-size: cover; /*按比例缩放*/
}
.banner .mask{
	height: 540px;
	background-color: rgba(0,0,0,0.7);
}

.usercard{          /*名片*/
	
	max-width: 940px;	/*最大像素*/
	margin-left: auto;   /*自动居中*/
	margin-right: auto;
	background-color: #ffffff;
}
.usercard .welcome{
	background: #E6686A;
	color: white;
	display: inline-block;
	padding: 5px 15px;
	line-height: 20px;
	position: relative; /*绝对定位*/
	
}
.usercard .welcome .triangle{
	display: block;
	border: 10px solid transparent;
	width: 0px;
	border-left-color: #E6686A;
	border-top: 0px;
	position: absolute; /*绝对定位*/
	left: 5px;
	top: 100%; 
}
.usercard .picture{
	float: left;
	margin-right: 65px;
}
.usercard .text{
	float: left;
	width: 470px;
}

.usercard .all{
	
	padding: 45px;
}
.usercard .text h1{
	margin-top: 22px;
}
.usercard .text p{
	margin-top: 6px;
}
.usercard .text hr{
	margin: 20px 0;
}
.usercard dl dt,
.usercard dl dd{
	float: left;
	padding: 5px 0;
}
.usercard dl dt{
	width: 30%;
	font-weight: bold;
}
.usercard dl dd{
	width: 70%;
	color: #9da0a7;
}

.usercard>footer.media{
	background: #e6686a;
	text-align: center;
}
.usercard>footer.media>a{
	display: inline-block;
	width: 40px;
	line-height: 30px;
	padding: 5px 0;
	border-radius: 50%;
	margin: 16px 0;
}
.usercard>footer.media>a:hover{
	background: #cf5d5f;   /*鼠标移动到上面时的样式*/
}
.usercard svg{
	width: 30px;
	height: 30px;
	color: white;
	vertical-align: top;
}
